.section-clients {
    text-align: center;
    &__header {
        text-align: center;
        margin-bottom: 20px;
        @media (min-width: 992px) {
            margin-bottom: 64px;
        }
    }
    &__title {

    }
    &__content {
        font-size: 18px;
        letter-spacing: 0.05px;
    }

    &__wrapper {
        display: flex;
    }
    &__image {
        margin-bottom: 31px;
        &--mobile {
            max-width: 420px;
            margin-left: auto;
            margin-right: auto;
        }
        &--desktop { display: none; }
        img {
            width: 100%;
            height: auto;
        }
        @media (min-width: 992px) {
            flex: 0 0 40%;
            margin-bottom: 0;
            &--desktop { display: block; }
            &--mobile { display: none; }
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }
}

.client {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    justify-content: center;
    transition: all 0.8s;
    min-height: 105px;
    @media (min-width: 992px) {
        min-height: 340px;
        padding: 46px;
    }
    &__column {
        flex: 0 0 50%;
        @media (min-width: 1400px) {
            flex: 0 0 33.333%;
            height: 50%;
        }
    }

    &__body {
        display: none!important;
        @media (min-width: 992px) {
            display: block;
            position: relative;
            font-size: 18px;
            line-height: 1.72;
            letter-spacing: 0.05px;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: all 0.6s;
            color: #fff;
            &:before {
                content: '';
                display: block;
                width: 47px;
                height: 2px;
                background: #fff;
                margin: 0 auto 36px;
            }
        }
    }
    &__logo {
        height: 110px;
        width: 100%;
        max-width: 230px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        path {
            fill: #d9d9d9;
            transition: all 0.5s;
        }
    }

    &:hover {
        background: #000;
        .client__body {
            max-height: 120px;
            opacity: 1;
        }
        path {
            fill: #fff;
        }
    }
}
