.section-form {
    .row {
        max-width: 1175px;
        justify-content: space-between;
        & > div {
            max-width: 570px;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__header {
        max-width: 400px;
    }
    &__form {
        width: 100%;
        max-width: 400px;
    }
    &__title {
        @media (max-width: 991px) {
            font-size: 30px;
            line-height: 1.17;
            margin-bottom: 30px;
            font-weight: 500;
        }
    }

    .contact-form {
      .gform_body {
        .gfield {
          .gfield_label {
            font-size: 23px;
            font-weight: 500;
            color: $primary;
          }
        }
        input[type=text],
        input[type=email],
        textarea {
          padding: 12px 0;
          width: 100%;
          max-width: none;
          font-size: 23px;
          border: none!important;
          box-shadow: none!important;
          font-weight: 500;
          color: $primary;
          display: block;
          background-color: #fff;
          margin: 0;
          border-radius: 0;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          border-bottom: 2px solid $primary !important;

          &:focus-visible {
            outline: unset !important;
          }

          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $primary !important;
            opacity: 1;
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $primary !important;
            opacity: 1;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: $primary !important;
            opacity: 1;
          }
        }
      }
      .gform_footer {
        .gform_button {
          color: $primary;
          background-color: transparent!important;
          border: none!important;
          padding: 0;
          align-items: center;
          font-weight: 700;
          letter-spacing: 0.9px;
          text-transform: lowercase;
          &:focus {
            box-shadow: none;
          }

          &--reverse {
            transform: rotate(180deg)
          }
        }
        &:after {
          content: " ";
          width: 37px;
          height: 13px;
          margin-left: 10px;
          transition: all 0.2s;
          display: inline-block;
          position: relative;
          left: 0;
          top: 8px;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAANCAYAAAAuYadYAAAAtklEQVRIS83UIW4CURAG4G91gylH6E1qSA2qjk2oqAKJ4gwIfFtTRE3BVRIMF8FjUQRCMwmbLBv87LvAfPnnf1PIeVvs8IZzk1DkmPSxxC+GONUdWagwvGCFNV5xrGCZqDA8468Jy0bdhQXqCZ2kblVjI7EZNugF6oCHZFR9/GOgui1IKooeSf2gbEOnBljgE+O4W9moCvSBES6xx0xUiW/cgDJR79d1zTGpEso+nlPs8XXv1/8DVtAiIo4O47gAAAAASUVORK5CYII=) no-repeat center;
        }
        &:hover {
          &:after {
            left: 15px;
          }
        }
      }
    }
}
.newsletter_wrapper {
  .newsletter {
    position: relative;
    .gform_body {
      label {
        color: $warning;
        font-weight: 700;
      }
      input[type=email] {
        background: none;
        border: none!important;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        color: #fff;
        width: 100%;
        height: 45px;
        padding: 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.72;
        border-bottom: 1px solid #fff !important;

        &:focus-visible {
          outline: unset !important;
        }

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #fff !important;
          opacity: 0.5;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #fff !important;
          opacity: 0.5;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          color: #fff !important;
          opacity: 0.5;
        }
      }
    }
    .gform_footer {
      color: $warning;
      background-color: transparent!important;
      border: none!important;
      padding: 0;
      align-items: center;
      font-weight: 700;
      letter-spacing: 0.9px;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 !important;
      margin: 0 !important;
      height: 45px;

      input[type=submit] {
        font-size: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        margin-bottom: 0;
        border: none;
        background: unset;
      }
      &:focus {
        box-shadow: none;
      }
      @supports (mask-image: url("")) {
        &:after {
          content: " ";
          width: 37px;
          height: 45px;
          margin-left: 10px;
          transition: all 0.2s;
          display: inline-block;
          background-color: $warning;
          pointer-events: none;
          mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAANCAYAAAAuYadYAAAAtklEQVRIS83UIW4CURAG4G91gylH6E1qSA2qjk2oqAKJ4gwIfFtTRE3BVRIMF8FjUQRCMwmbLBv87LvAfPnnf1PIeVvs8IZzk1DkmPSxxC+GONUdWagwvGCFNV5xrGCZqDA8468Jy0bdhQXqCZ2kblVjI7EZNugF6oCHZFR9/GOgui1IKooeSf2gbEOnBljgE+O4W9moCvSBES6xx0xUiW/cgDJR79d1zTGpEso+nlPs8XXv1/8DVtAiIo4O47gAAAAASUVORK5CYII=) no-repeat center;
        }
      }
    }
    .gform_validation_errors {
      display: none;
    }
    .gfield_validation_message {
      position: absolute;
    }
  }
  @media (max-width: 600px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.newsletter {
  .gform_confirmation_message {
    color: #fff;
  }
}



@media (min-width: 992px) {
  .section-form__column--left {
    min-height: 100%;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -0px;
      bottom: 0;
      width: 1px;
      background: #bfbfbf;
    }
  }
}

.gfield {
  select {
    border: unset;
    &:focus-visible {
      outline: unset;
    }
  }
}
