.page-header {
    background-color: #2c3a60;
    color: #fff;
    text-align: center;
    height: 120px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(46deg, rgba(151, 198, 59, 0.56) 40%, rgba(44, 58, 96, 0.56) 60%, rgba(44, 58, 96, 0.56) 80%);

    .container {
        position: relative;
        height: 100%;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__background-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 0.6;
        }
    }

    @media (min-width: 768px) {
        height: 255px;
    }
    &__title {
        text-align: center;
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        margin: 0;
        @media (min-width: 768px) {
            font-size: 45px;
        }
    }
    .error404 & {
        min-height: calc(100vh - 96px - 261px);
    }

    &--overlay {
        background-image: linear-gradient(46deg, rgba(151, 198, 59, 0.56) 40%, rgba(44, 58, 96, 0.56) 60%, rgba(44, 58, 96, 0.56) 80%)!important;
        .page-header__background-image {
            img {
                opacity: 0.6;
                @supports (mix-blend-mode: soft-light) {
                    opacity: 1;
                    mix-blend-mode: soft-light;
                }
            }
        }
    }
}
