.section-slider {

  &__wrapper {
    position: relative;
    @media (min-width: 992px) {
      margin-left: auto;
      max-width: 82%;
    }
  }
  .swiper-container {

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      img {
        width: 100%;
        min-height: 191px;
        object-fit: cover;
      }

      .slide__body {
        background-color:#fff;
        padding: 17px 15px 0;
        text-align: left;
        width: 100%;
        max-width: 763px;
        @media (min-width: 992px) {
          position: absolute;
          bottom: 30px;
          left: 30px;
          padding: 17px 32px;
        }
        & :last-child {
          margin: 0;
        }

        .slide__title {
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.9px;
          color: #2c3a60;
        }

        .slide__content {
          font-size: 15px;
          font-weight: 400;
          color: #555555;
        }
      }
    }
  }

  .swiper-controls {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 30px 0;
    @media (min-width: 992px) {
      position: absolute;
      bottom: 0;
      left: -125px;
      width: 125px;
      flex-direction: column;
      height: 82px;
    }

    .swiper-pagination {
      position: static;
      font-size: 15px;
      color: #000000;
      flex-grow: 1;
      letter-spacing: 2.25px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: static;
      width: 76px;
      height: auto;
      margin: 10px 0;
      &:focus {
        outline: none;
      }
      &:after {
        margin: 0;
      }
    }

    .swiper-button-next {
    }

    .swiper-button-prev {
    }
  }
}
