.section-two-columns-images {
    overflow: hidden;
    .container {
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            top: 86px;
            bottom: 0;
            right: -88px;
            background: #f8f8f8;
            width: calc(100vw + 88px); 
            @media (min-width: 992px) {
                top: 294px;
            }
        }
    }
    .row {
        max-width: 1175px;
        justify-content: space-between;
        & > div {
            max-width: 570px;
            &:last-child {
                .two-column-image:after {
                    display: none;
                }
            }
        }
    }
}

.two-column-image {
    padding-bottom: 58px;
    position: relative;
    @media (min-width: 992px) {
        padding-bottom: 64px;
        margin-bottom: 72px;
    }
    @media (min-width: 992px) {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            bottom: 0;
            background: #bfbfbf;
        }
    }
    &__body {
        max-width: 470px;
        padding-right: 30px;
    }
    &__image {
        background: #e5e5e5;
        margin-bottom: 36px;
        position: relative;
        z-index: 2;
        @media (min-width: 992px) {
            margin-bottom: 53px;
        }
    }
    &__title {
        margin-bottom: 30px;
        @media (min-width: 992px) {
            margin-bottom: 40px;
        }
    }
    &__actions {
        margin-top: 30px;
        @media (min-width: 992px) {
            margin-top: 40px;
        }
    }
}
