// stylelint-disable selector-no-qualifying-type

//
// Textual form controls
//

%form-control {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: 500;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
  margin: 0;
  //background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABo0lEQVQ4T6XTT2jPcRzH8cfCboSD29pByIhYOexgraSwPy1RUuTggFJO4iClsZODHJwUrSWtpVZsLX8Sx+3gX0kOCDnZgRCr9db7q0/8+P3K5/L99n6/P8/3v9enyZ9nAw5iK1owD+9xH1cxUeOOpsK4EBexr1ZgYbuL/XhTxlWgRZjEpnR+xTim8AOr0YMl6X+LTrysYBVoGHvSeCtbi+DyRLJzOJzGx9iYiX621oGH6RxDP2b/0d5ZnEj/IVyK/wBdxgF8xnJ8qDOj+XiCVZhGewV6ndu5VrRXh+UkBjJoKT5GRTHMWHGUO1iPkP5tuJn/a/E0QN/QjFM40yCoDzcydg2eBeg5VmaGHQ2CovLjuZTF+BSg8ziWxnVBrwMLGbzAMtxDVzXsFdEjFuBRCm3mL7DY2PWUSITsxGgFim+pjch2JJVe8tbjAjan8Ta2/K7s2NoV7C1uvkqdfEcbYjvl+YJu3Ckrqv6P4jRigLVOSCVa25Wj+AUrX391MSARGGW3pjTe5TMaylffi5GEhXx21wI1qAAl7MH/gCJhzChexPY5ClRSM8efoxYAAAAASUVORK5CYII=");
  //background: no-repeat 13px 11px #001a45;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
  @media (max-width: 991px) {
    font-size: 15px;
    font-weight: 400;
    height: 44px;
    padding: 9px 16px; 
  }
}

// Search form
.search-form {
  display: flex;
  align-items: center;
  max-width: 100%;
  .field__wrapper {
    flex-grow: 1;
  }
  input {
    @extend %form-control;
    border: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: #555555;
      opacity: 1;
    }
  }
  button {
    color: $warning;
    svg {
      height: 18px;
      width: 18px;
      max-width: 18px;
    }
  }
}

input[type=checkbox] {
  position: absolute!important; // take it out of document flow
  left: 0!important;
  opacity: 0; // hide it

  & + label {
      position: relative !important;
      cursor: pointer;
      font-size: 15px;
      padding: 0;
      @media (max-width: 575px) {
        font-size: 13px;
      }
  }

  // Box.
  & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: -6px;
      width: 23px;
      height: 23px;
      background-color: #ededed;
      border: 1px solid #a8a8a9;
      z-index: 1;
  }

  // Box hover
  &:hover + label:before {
      background-color: #e0e0e0;

  }

  // Box focus
  &:focus + label:before {
      box-shadow: none;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
      content: '\2714';
      font-size: 14px;
      position: absolute;
      left: 6px;
      top: 3px;
      background: white;
      width: 2px;
      height: 2px;
  }
}
