$nav-breakpoint: 1420px;
$nav-breakpoint-max: $nav-breakpoint - 1;

.header {
  background: $white;
  z-index: 9999;
  position: relative;
}

// Nav bar alignment
.navbar {
  > .container-fluid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    .nav-link {
      display: flex;
      font-weight: 500;
      color: #231f20;
      transition: all 0.2s;
      &:focus,
      &:hover {
        outline: none;
        color: $secondary;
        text-decoration: none;
      }
    }
    .active > a {
      color: #2c3a60;
      font-weight: bold;
    }
  }
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

@media (max-width: 767px) {
  .navbar-brand {
    width: 129px;
  }
}

@media (max-width: $nav-breakpoint-max) {
  
  body {
    &:after {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 900;
      opacity: 0;
      pointer-events: none;
      transition: all 0.5s;
      background: rgba($black, 0.59);
    }
    &.body--menu-open:after {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .navbar {
    padding-top: 12px;
    padding-bottom: 12px;

    &-nav {
      .nav-link {
        font-size: 15px;
        justify-content: flex-end;
        border-top: 1px solid #f6f6f6;
        padding: 16px 20px;
      }
    }
  }
  .navbar-search {
    display: none;
  }
  .navbar-phone {
    margin-left: auto;
    padding-right: 20px;

    &__link {
      color: $warning;
      display: block;
      height: 36px;
      width: 42px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .icon-globe,
  .navbar-phone__text {
    display: none;
  }

  .navbar-collapse {
    position: absolute!important;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    .navbar-search {
      display: block;
    }
  }

  .navbar-search {
    background-color: #2d3b61;
    padding: 44px 10px;

    input {
      color: #fff;
      background: none;
      &::placeholder {
        color: #fff;
      }
    }
  }

  .navbar-toggle {
    background: none;
    border: none;
    height: 36px;
    width: 42px;
    display: block;
    padding: 0;
    .icon-bar {
      width: 22px;
      height: 2px;
      display: block;
      margin: 0 auto;
      background: $dark-blue;
      transition: all 0.2s;
      + .icon-bar {
        margin-top: 5px;
      }
  
      &:nth-of-type(1) {
        transform: rotate(45deg) translateX(5px);
        transform-origin: 25% 25%;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: rotate(-45deg) translateX(5px);
        transform-origin: 25% 75%;
      }
    }
  
    &.collapsed {
      .icon-bar {
        &:nth-of-type(1) {
          transform: rotate(0);
        }
        &:nth-of-type(2) {
          opacity: 1;
        }
        &:nth-of-type(3) {
          transform: rotate(0);
        }
      }
    }
  }
}

@media (min-width: $nav-breakpoint) {

  .navbar {
    > .container-fluid {
      align-items: stretch;
      flex-wrap: nowrap;
    }
    &-nav {
      display: flex;
      .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .nav-link {
        font-size: 14px;
        padding: 16px 20px;
        font-weight: 500;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .navbar-brand {
    min-width: 129px;
    margin: 24px 20px;
  }

  .navbar-collapse {
    order: 2;
    margin-left: auto;
    padding: 0 20px;
    display: flex!important;
    .navbar-search {
      display: none;
    }
  }

  .navbar-search-collapse {
    position: absolute!important;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    .navbar-search {
      display: block;
      background-color: #2d3b61;
      padding: 15px 10px;

      input {
        color: #fff;
        background: none;
        &::placeholder {
          color: #fff;
        }
      }
      .search-form {
        display: flex;
      }
    }
  }

  .navbar-search {
    padding: 0 20px;
    order: 3;
    width: 210px;
    border-left: 1px solid #d3d3d3;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      font-size: 14px;
    }
  }

  .navbar-phone {
    padding: 0 20px;
    width: 200px;
    order: 4;
    border-left: 1px solid #d3d3d3;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-phone {
    .icon-phone {
      display: none;
    }
  }
}

.dropdown-toggle-arrow {
  display: inline-block;
  width: 32px;
  text-align: center;
  cursor: pointer;
  svg {
    position: relative;
    top: -1px;
  }
  @media (min-width: $nav-breakpoint) {
    width: auto;
    margin-left: 4px;
    svg {
      width: 13px;
      height: 12px;
    }
  }
}
.dropdown-toggle-arrow--active {
  transform: scaleY(-1);
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  max-height: 0;
  transition: max-height 0.4s;
  overflow: hidden;
  .dropdown-item {
    font-size: 15px;
  }
  &.show {
    max-height: 300px;
  }
  @media (max-width: $nav-breakpoint-max) {
    margin-top: -10px;
    .dropdown-item {
      display: block;
      padding: 10px 52px 10px 20px;
      text-align: right;
    }
  }
  @media (min-width: $nav-breakpoint) {
    position: absolute;
    top: 100%;
    left: 0;
    background: #Fff;
    min-width: 220px;
    margin-left: 0;
    .dropdown-item {
      display: block;
      font-size: 1rem;
      padding: 10px 20px;
      font-size: 14px;
      &:hover {
        text-decoration: none;
        color: $secondary;
      }
    }
    .active > .dropdown-item {
      font-weight: bold;
    }
  }
}

@media (max-width: 1919px) {
  .navbar-phone {
    width: auto;
    border: none;
  }
  .phones__link {
    &:before {
      content: '';
      display: inline-block;
      margin-right: 6px;
      position: relative;
      top: 1px;
      width: 19px;
      height: 20px;
      background: no-repeat center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='20'%3E%3Cpath style='fill: %23fbad34' d='M13.5 15.4l-3.1-2.6c-.3-.2-.7-.2-.9-.1l-2.1 1.4c-2.1-1.9-3.5-4.5-3.9-7.3l2.4-1c.3-.1.5-.5.5-.8L6 1c0-.4-.4-.7-.7-.7L1.7.1C1.3.1 1 .4.9.7c-2.5 8.1 2 16.6 10.1 19.1.4.1.7 0 .9-.4l1.8-3c.2-.3.1-.7-.2-1z'/%3E%3C/svg%3E");
    }
  }
  .phones__text { 
    display: none;
  }
  .navbar-search {
    width: auto;
    border: none;
    padding: 0 10px 0 0;
    .search-form {
      display: none;
    }
    .search-form-toggle {

    }
  }
  .navbar-nav .nav-link {
    line-height: 1.3;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
@media (min-width: $nav-breakpoint) and (max-width: 1396px) {
  .navbar-nav .nav-link {
    > div {
      height: 36px;
    }
  }
}
.navbar-search-toggle {
  background: none;
  border: none;
  height: 36px;
  width: 42px;
  display: block;
  padding: 0;
  color: $warning;
}
@media (min-width: 1920px) {
  .navbar-search-toggle { display: none; }
  .navbar-search-collapse { display: none; }
}
